
<!DOCTYPE html>
<html>
<head>
  <title>ERROR</title>
<!--  <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<body>


<div class="container">
  <div class="jumbotron" style="background-color: orange">
    <h1>ERROR</h1>
    <p> NO Result Found</p>
  </div>
<!--  .form-group
  .form-control -->

  
</body>
</html>